html{
    min-height: 100svh;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #585a5c;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
    max-height: 100svh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
}

.header-top{
    display: grid;   
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.header-search{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 10fr; 
    margin-left: 1.8rem;
    align-items: center; 
}

#searchInput{
    width: 80%;
    height: 1.8rem;
    border-radius: 20px;
    background-color: #f1f5f9;

}

.search-icon{
    height: 1.8rem;
}

.header-icons{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(2, max(3rem)) 11rem;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;    
}

.notifcation-bell{
    height: 1.8rem;
}

.round-avatar{
    border-radius: 50%; 
    width: 2.7rem;
    height: 2.7rem;
    object-fit: cover;    
}

.user-name{
    font-weight: 900;
    font-size:x-large;
}

.header-bottom{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    align-content: center;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    padding-bottom: 10px;
}

.header-menu{
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin-left: 1.8rem;
    gap: 20px;    
}

.greeting p{
    margin: 0;
}

.round-avatar-big{
    border-radius: 50%; 
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;    
}

.header-menu-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-right: 5px; 
}

.menu-button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #6497b1;
    color: white;
    font-size: 16px;
    cursor: pointer;
    
}

.menu-button:hover{
    background-color: #426576;
}

.side-bar{
    display:grid;
    grid-template-rows: 1fr 5fr 5fr;
    gap: 40px;
    grid-row: 1 / 3;
    background-color: #6497b1;
    color: white;    
}


.side-content-home{
    display: grid;
    margin-left: 3rem;
    font-size: 1.5rem;
    grid-row: 2 / 3 ;
}

.side-content-user{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 3rem;
    font-size: 1.5rem;
    grid-row: 3 / 4;
}

.logo{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 15px;
    margin-left: 1.3rem;
    grid-row: 1 / 2 ;
}
.logo h1{
    margin:0;
    font-size: 3rem;
}
.logo-img{
    height: 3rem;
}
.main-content{
    background-color: #f1f5f9;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    gap: 20px;
    padding-left: 1rem;    
}

.content{
    grid-column: 1/2;
    display: grid; 
    grid: repeat(3,1fr)/repeat(3,1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
    
}

.cards{
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-left: rebeccapurple;
    border-left-width: 8px;
    border-left-style: solid;
    padding-left: 8px;    
}

.alternate-content{
    grid-column: 2 / 3;
    grid-row: 1/4;
    
}
.alternate-content-top{
    box-sizing: border-box;
}
.other-projects{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-right: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.announcement-card{
    border-bottom: #6497b1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.icon{
    height: 1.5rem;

}
/*might be a good accent color: #ffd166 */
